.section-one {
  .container {
    margin: 400px auto;
    h1 {
      font-size: 40px;
      font-family: "Audiowide", cursive;
      color: #fff;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
        0 0 40px rgb(212, 62, 192), 0 0 80px rgb(212, 62, 192),
        0 0 90px rgb(212, 62, 192), 0 0 100px rgb(212, 62, 192),
        0 0 150px rgb(212, 62, 192);
      animation: text-flicker 2s linear infinite;
    }
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgb(212, 62, 192);
  }

  2% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgb(212, 62, 192);
  }
  8% {
    opacity: 0.1;
    text-shadow: 0px 0px 29px rgb(212, 62, 192);
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgb(212, 62, 192);
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px rgb(253, 143, 239);
  }
  20% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgb(253, 143, 239);
  }
  25% {
    opacity: 0.3;
    text-shadow: 0px 0px 29px rgb(253, 143, 239);
  }
  30% {
    opacity: 1;
    text-shadow: 0px 0px 29px rgb(253, 143, 239);
  }

  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 29px rgb(253, 143, 239);
  }

  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 29px rgb(253, 143, 239);
  }

  77% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgb(194, 81, 179);
  }
  100% {
    opacity: 0.9;
    text-shadow: 0px 0px 29px rgb(192, 85, 178);
  }
}

@media screen and (max-width: 480px) {
  .section-one {
    .container {
      margin: 300px auto;
      h1 {
        font-size: 30px;
      }
    }
  }
}
