.content {
  .section-one {
    .container {
      position: relative;
      @media only screen and (max-width: 480px) {
        background-image: url("../Assets/momo.jpg");
        width: 100vw;
        height: 100vh;
      }
      img {
        width: 100vw;
        height: 100vh;
        @media only screen and (max-width: 480px) {
          visibility: hidden;
          width: 100vw;
          height: 100vh;
        }
      }
      h1 {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        letter-spacing: 5px;
        width: 1500px;
        color: white;
        font-family: "Aleo", serif;
        text-align: center;
        @media only screen and (max-width: 480px) {
          font-size: 38px;
          top: 35%;
          right: 0%;
          text-align: center;
          width: 100%;
          text-align: center;
        }
      }
      p {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        width: 1500px;
        color: white;
        font-family: "Aleo", serif;
        letter-spacing: 3px;
        font-weight: lighter;
        @media only screen and (max-width: 480px) {
          font-size: 20px;
          top: 59%;
          right: 0%;
          text-align: center;
          width: 100%;
        }
      }
      #linkedIn {
        position: absolute;
        bottom: 15px;
        right: 80px;
        color: white;
        font-size: 45px;
        transition: 400ms ease-in-out;
        &:hover {
          color: #3079f2;
        }
      }
      #gitHub {
        position: absolute;
        bottom: 15px;
        right: 20px;
        color: white;
        font-size: 45px;
        transition: 400ms ease-in-out;
        &:hover {
          color: #3079f2;
        }
      }
    }
  }
  .section-two {
    @media only screen and (max-width: 480px) {
      height: fit-content;
    }
    height: 110vh;
    color: white;
    h1 {
      margin-top: 50px;
      font-size: 40px;
      font-family: "Aleo", serif;
    }
    p {
      margin-top: -10px;
      font-family: "Aleo", serif;
      letter-spacing: 3px;
    }
    .projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin: 70px 0px 0px 0px;
      justify-content: center;
      @media only screen and (max-width: 480px) {
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
      }

      .project-1 {
        position: relative;
        background-color: #2196f3;
        border-radius: 10px;
        width: 500px;
        height: 350px;
        transition: 500ms ease-in-out;
        @media only screen and (max-width: 480px) {
          width: 380px;
          margin: 10px;
          height: 250px;
        }
        .card_inner {
          opacity: 0;
          transition: 500ms ease-in-out;
        }
        p {
          position: absolute;
          top: 40%;
          left: 0%;
        }
        .btnOne {
          position: absolute;
          top: 65%;
          left: 52%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 52%;
          }
        }
        .btnTwo {
          position: absolute;
          top: 65%;
          left: 25%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 20%;
          }
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
        &:hover {
          box-shadow: 0 20px 40px #000;
          transform: scale3d(1.05, 1.05, 1.05);
          display: block;
          cursor: pointer;
          .card_inner {
            opacity: 1;
          }
          img {
            opacity: 0%;
          }
        }
      }
      .project-2 {
        background-color: #ce12bb;
        border-radius: 10px;
        width: 500px;
        height: 350px;
        margin-left: 50px;
        transition: 500ms ease-in-out;
        @media only screen and (max-width: 480px) {
          width: 380px;
          margin: 10px;
          height: 250px;
        }
        .card_inner {
          opacity: 0;
          transition: 500ms ease-in-out;
        }
        p {
          position: absolute;
          top: 40%;
          left: 0%;
        }
        .btnOne {
          position: absolute;
          top: 65%;
          left: 52%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 52%;
          }
        }
        .btnTwo {
          position: absolute;
          top: 65%;
          left: 25%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 20%;
          }
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
        &:hover {
          box-shadow: 0 20px 40px #000;
          transform: scale3d(1.05, 1.05, 1.05);
          display: block;
          cursor: pointer;
          .card_inner {
            opacity: 1;
          }
          img {
            opacity: 0%;
          }
        }
      }
      .project-3 {
        background-color: #c57814ee;
        border-radius: 10px;
        width: 500px;
        height: 350px;
        margin-left: 50px;
        transition: 500ms ease-in-out;
        @media only screen and (max-width: 480px) {
          width: 380px;
          margin: 10px;
          height: 250px;
        }
        .card_inner {
          opacity: 0;
          transition: 500ms ease-in-out;
        }
        p {
          position: absolute;
          top: 40%;
          left: 0%;
        }
        .btnOne {
          position: absolute;
          top: 65%;
          left: 52%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 52%;
          }
        }
        .btnTwo {
          position: absolute;
          top: 65%;
          left: 25%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 20%;
          }
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
        &:hover {
          box-shadow: 0 20px 40px #000;
          transform: scale3d(1.05, 1.05, 1.05);
          display: block;
          cursor: pointer;
          .card_inner {
            opacity: 1;
          }
          img {
            opacity: 0%;
          }
        }
      }
      .project-4 {
        background-color: #385706;
        border-radius: 10px;
        width: 500px;
        height: 350px;
        margin-top: 60px;
        transition: 500ms ease-in-out;
        @media only screen and (max-width: 480px) {
          width: 380px;
          margin: 10px;
          height: 250px;
        }
        .card_inner {
          opacity: 0;
          transition: 500ms ease-in-out;
        }
        p {
          position: absolute;
          top: 40%;
          left: 0%;
          @media only screen and (max-width: 480px) {
            top: 30%;
            left: 0%;
          }
        }
        .btnOne {
          position: absolute;
          top: 65%;
          left: 52%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 52%;
          }
        }
        .btnTwo {
          position: absolute;
          top: 65%;
          left: 25%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 20%;
          }
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
        &:hover {
          box-shadow: 0 20px 40px #000;
          transform: scale3d(1.05, 1.05, 1.05);
          display: block;
          cursor: pointer;
          .card_inner {
            opacity: 1;
          }
          img {
            opacity: 0%;
          }
        }
      }
      .project-5 {
        margin-left: 50px;
        background-color: #000000;
        border-radius: 10px;
        width: 500px;
        height: 350px;
        margin-top: 60px;
        transition: 500ms ease-in-out;
        @media only screen and (max-width: 480px) {
          width: 380px;
          margin: 10px;
          height: 250px;
        }
        .card_inner {
          opacity: 0;
          transition: 500ms ease-in-out;
        }
        p {
          position: absolute;
          top: 40%;
          left: 0%;
          color: white;
        }
        .btnOne {
          position: absolute;
          top: 65%;
          left: 52%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 52%;
          }
        }
        .btnTwo {
          position: absolute;
          top: 65%;
          left: 25%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 20%;
          }
        }
        img {
          width: 50%;
          height: 100%;
          border-radius: 0px;
        }
        &:hover {
          box-shadow: 0 5px 10px #000;
          transform: scale3d(1.05, 1.05, 1.05);
          display: block;
          cursor: pointer;
          .card_inner {
            opacity: 1;
          }
          img {
            opacity: 0%;
          }
        }
      }
      .project-6 {
        margin-left: 50px;
        background-color: #1874c0;
        border-radius: 10px;
        width: 500px;
        height: 350px;
        margin-top: 60px;
        transition: 500ms ease-in-out;
        @media only screen and (max-width: 480px) {
          width: 380px;
          margin: 10px;
          height: 250px;
        }
        .card_inner {
          opacity: 0;
          transition: 500ms ease-in-out;
        }
        p {
          position: absolute;
          top: 40%;
          left: 0%;
          color: white;
        }
        .btnOne {
          position: absolute;
          top: 65%;
          left: 52%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 52%;
          }
        }
        .btnTwo {
          position: absolute;
          top: 65%;
          left: 25%;
          @media only screen and (max-width: 480px) {
            top: 65%;
            left: 20%;
          }
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
        &:hover {
          box-shadow: 0 5px 10px #000;
          transform: scale3d(1.05, 1.05, 1.05);
          display: block;
          cursor: pointer;
          .card_inner {
            opacity: 1;
          }
          img {
            opacity: 1%;
          }
        }
      }
    }
  }
  .section-three {
    background-color: #307af269;
    height: 60vh;
    @media only screen and (max-width: 480px) {
      height: fit-content;
      padding: 10px 0px;
    }
    .container {
      h1 {
        padding: 80px 0px 0px 0px;
        font-size: 50px;
        font-family: "Aleo", serif;
        font-weight: bold;
        color: white;
        @media only screen and (max-width: 480px) {
          padding: 0px;
          font-size: 36px;
        }
      }
      p {
        padding: 10px 0px 0px 250px;
        width: 1500px;
        letter-spacing: 5px;
        font-size: 35px;
        height: fit-content;
        color: white;
        @media only screen and (max-width: 480px) {
          align-self: center;
          font-size: 15px;
          padding: 0;
          letter-spacing: 3px;
          width: fit-content;
        }
      }
    }
  }
  .section-four {
    height: 100vh;
    @media only screen and (max-width: 480px) {
      height: 2300px;
    }
    .heading {
      margin-top: 50px;
      h1 {
        margin-top: 5px;
        font-size: 40px;
        letter-spacing: 8px;
        font-family: "Roboto", serif;
        color: white;
      }
    }
    .card {
      margin: 0px 0px 0px 400px;
      width: 1200px;
      height: 800px;
      display: flex;
      flex-direction: row;
      @media only screen and (max-width: 480px) {
        margin: 0px auto;
        flex-direction: column;
        border-radius: 10px;
        align-items: center;
        width: 0;
      }
      .front-end {
        background-color: rgb(255, 255, 255);
        border-right: 5px solid black;
        border-radius: 8px;
        width: 400px;
        height: 800px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        text-align: center;
        @media only screen and (max-width: 480px) {
          border: none;
          border-radius: 8px;
          width: 90vw;
          height: auto;
          margin: 20px 0px;
        }
        h1 {
          margin: 20px 0px 0px 0px;
          font-size: 36px;
          color: #000;
          font-family: "Roboto", sans-serif;
          letter-spacing: 4px;
          @media screen and (max-width: 480px) {
            font-size: 30px;
            margin: 0px;
          }
        }
        p {
          width: 300px;
          font-size: 18px;
          margin: 20px 0px 0px 55px;
          font-weight: lighter;
          @media screen and (max-width: 480px) {
            font-size: 20px;
            margin: 20px 0px 0px 30px;
          }
        }
        #code {
          font-size: 64px;
          margin: 50px 0px;
          color: #3079f2;
        }
        ul {
          font-size: 24px;
          letter-spacing: 2px;
          @media screen and (max-width: 480px) {
            font-size: 15px;
          }
          li {
            margin: 20px;
            margin-top: 40px;
          }
        }
      }
      .back-end {
        background-color: rgb(255, 255, 255);
        border-right: 5px solid black;
        width: 400px;
        height: 800px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        text-align: center;
        @media only screen and (max-width: 480px) {
          border: none;
          border-radius: 8px;
          width: 90vw;
          height: auto;
          margin: 20px 0px;
        }
        h1 {
          margin: 20px 0px 0px 0px;
          font-size: 36px;
          color: #000;
          font-family: "Roboto", sans-serif;
          letter-spacing: 4px;
          @media screen and (max-width: 480px) {
            font-size: 30px;
            margin: 0px;
          }
        }
        p {
          width: 300px;
          font-size: 18px;
          margin: 20px 0px 0px 55px;
          font-weight: lighter;
          @media screen and (max-width: 480px) {
            font-size: 20px;
            margin: 20px 0px 0px 30px;
          }
        }
        #server {
          font-size: 64px;
          margin: 50px 0px;
          color: #3079f2;
        }
        ul {
          font-size: 24px;
          letter-spacing: 2px;
          @media screen and (max-width: 480px) {
            font-size: 15px;
          }
          li {
            margin: 20px;
            margin-top: 40px;
          }
        }
      }
      .other {
        background-color: rgb(255, 255, 255);
        border-right: 5px solid black;
        width: 400px;
        height: 800px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        text-align: center;
        @media only screen and (max-width: 480px) {
          border: none;
          border-radius: 8px;
          width: 90vw;
          height: auto;
          margin: 20px 0px 25px 0px;

        }
        h1 {
          margin: 20px 0px 0px 0px;
          font-size: 36px;
          color: #000;
          font-family: "Roboto", sans-serif;
          letter-spacing: 4px;
          @media screen and (max-width: 480px) {
            font-size: 30px;
            margin: 0px;
          }
        }
        p {
          width: 300px;
          font-size: 18px;
          margin: 20px 0px 0px 55px;
          font-weight: lighter;
          @media screen and (max-width: 480px) {
            font-size: 20px;
            margin: 20px 0px 0px 30px;
          }
        }
        #design {
          font-size: 64px;
          margin: 50px 0px;
          color: #3079f2;
        }
        ul {
          font-size: 24px;
          letter-spacing: 2px;
          @media screen and (max-width: 480px) {
            font-size: 15px;
          }
          li {
            margin: 20px;
            margin-top: 40px;
          }
        }
      }
    }
  }
  .section-five {
    background-color: #3079f2;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 100vh;
    @media only screen and (max-width: 480px) {
      width: 100vw;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .container{
      padding-top: 20px;
      @media only screen and (max-width: 480px) {
        padding-top: 0;
      }
    }
    h1 {
      margin:10px 0px 0px 0px;
      font-size: 40px;
      font-family: "Aleo", serif;
      @media only screen and (max-width: 480px) {
        margin-top: 50px;
      }
    }
    p {
      font-weight: 300;
      font-size: 20px;
      @media only screen and (max-width: 480px) {
        margin-top: 30px;
        height: fit-content;
      }
    }
    .btn-container {
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      flex: 1;
      @media only screen and (max-width: 480px) {
        margin-top: 40px;
        height: fit-content;
      }
      .btn1 {
        background-color: #005f91;
        color: white;
        width: 350px;
        height: 60px;
        border-radius: 3px;
        border: none;
        font-size: 24px;
        transition: 200ms ease-in;
        font-family: "Aleo", serif;
        @media only screen and (max-width: 480px) {
          font-size: 20px;
          width: 300px;
          height: 55px;
          margin: 10px 0px;
        }
        &:hover {
          box-shadow: 0 0 1px #000;
          cursor: pointer;
          transform: scale3d(1.05, 1.05, 1.05);
        }
      }
      .btn2 {
        background-color: #2f477a;
        color: white;
        margin-top: 50px;
        width: 350px;
        height: 60px;
        border-radius: 3px;
        border: none;
        font-size: 24px;
        transition: 200ms ease-in;
        font-family: "Aleo", serif;
        @media only screen and (max-width: 480px) {
          font-size: 20px;
          width: 300px;
          height: 55px;
        }
        &:hover {
          box-shadow: 0 0 1px #000;
          cursor: pointer;
          transform: scale3d(1.05, 1.05, 1.05);
        }
      }
      .btn3 {
        background-color: #000000;
        color: white;
        margin-top: 50px;
        width: 350px;
        height: 60px;
        border-radius: 3px;
        border: none;
        font-size: 24px;
        transition: 200ms ease-in;
        font-family: "Aleo", serif;
        @media only screen and (max-width: 480px) {
          font-size: 20px;
          width: 300px;
          height: 55px;
        }
        &:hover {
          box-shadow: 0 0 1px #000;
          cursor: pointer;
          transform: scale3d(1.05, 1.05, 1.05);
        }
      }
      .btn4 {
        background-color: #34a853;
        color: white;
        margin-top: 60px;
        width: 350px;
        height: 60px;
        border-radius: 3px;
        border: none;
        font-size: 24px;
        transition: 200ms ease-in;
        font-family: "Aleo", serif;
        @media only screen and (max-width: 480px) {
          font-size: 20px;
          width: 300px;
          height: 55px;
        }
        &:hover {
          cursor: pointer;
          transform: scale3d(1.05, 1.05, 1.05);
        }
      }
    }
    #cp {
      color: rgb(255, 255, 255);
      font-family: "Aleo", serif;
      font-weight: 600;
      font-size: 16px;
      margin-top: auto;
      @media only screen and (max-width: 480px) {
        font-size: 12px;
        margin-top: 30px;
      }
    }
  }
}
