body {
  background-color: #1d2026;
  text-align: center;
  /* color: white; */
}
#loading {
  margin: 100px auto;
  padding: 0 auto;
}
.load {
  display: flex;
  flex-direction: row;
  margin: 350px 100px 0px 900px;
}
::-webkit-scrollbar{
  display: none;

}
